# Ignore the virtual environment (heavy system files)
.venv/
venv/
env/

# Ignore the dataset (huge audio files)
dataset/

# Ignore cache files
__pycache__/
*.pyc

# (Optional) Keep the model files because Hugging Face needs them
# but normally we ignore them. For now, keep them.